<div class="mb-3">
    <label for="prdCat" class="form-label">Category</label>
    <!-- <select #cat name="cat" id="prdCat" class="form-control" (change)="getSelectdCat(cat.value)"> -->
    <!-- <select #cat name="cat" id="prdCat" class="form-control" (change)="getSelectdCat($event)"> -->
    <select name="cat" id="prdCat" class="form-control" [(ngModel)]="selectedCatId">
        <option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.name}}</option>
    </select>
    
</div>
<div class="text-secondary">
    Selected Category: {{selectedCatId}} 
    <br>
    <input type="button" class="btn btn-primary" [class.btn-secondary]="isSecondary"  (click)="changeCat()" value="Cat 1">
    <br>
    <h3>Today's Date: {{today | date: 'short'}}</h3>
</div>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price in USD</th>
            <th>Price in EGP</th>
            <th>Count</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let product of productList" [class.d-none]="selectedCatId != product.categoryId">      -->
        <!-- <tr *ngFor="let product of productList; let i = index" > -->
        <!-- <tr *ngFor="let product of productList; index as i; TrackBy:productTrackByFn" > -->
        <!-- <tr *ngFor="let product of productList; index as i"  [hidden]="product.quantity === 0"> -->
        <!-- 
        <ng-container *ngFor="let product of productList; let i = index">
        <tr *ngIf="product.quantity !== 0">
        -->
        <tr *ngFor="let product of productList; let i = index">
            <!-- Safe Navigation Operator -->
            <td>{{i + 1}}</td>
            <td>{{product.name}}</td>
            <td>
                <!-- <img LightBox highlightColor="blue" [src]="product.imageURL" alt="product img">     [src] => property binding -->
                <!-- <img LightBox="blue" [src]="product.imageURL" alt="product img">      -->
                <!-- <img [LightBox]="ReadFromPropInTS" [src]="product.imageURL" alt="product img">      -->
                <img LightBox="blue" defaultColor="gray" [src]="product.imageURL" alt="product img">     
            </td>
            <td>
                <!-- 
                <div *ngIf="product.quantity != 0; else OutOfStock">{{product.quantity}}</div>
                <ng-template #OutOfStock>Out of stock</ng-template> 
                -->

                <ng-container [ngSwitch]="product.quantity">
                    <div *ngSwitchCase="0">Out of stock</div>
                    <div *ngSwitchCase="1">Last item</div>
                    <div *ngSwitchDefault>{{product.quantity}}</div>
                </ng-container>
            </td>
            <td>{{product.price | currency:'USD':'symbol'}}</td>
            <td>{{product.price | USDtoEGP: 34 | currency:'EGP'}}</td>

            <!-- Template variable (#itemCount)-->
            <td><input #itemCount type="number" class="form-control" value="1"></td>
            <td>
                <input type="button" 
                    class="btn btn-secondary" 
                    [class.btn-danger]="product.quantity === 0" 
                    [class.disabled]="product.quantity === 0"
                    value="Buy" 
                    (click)="buy(product.price, itemCount.value)">
            </td>
        </tr>
        <!-- </ng-container> -->
    </tbody>
</table>

<hr>

<h3>
    Order Total Price: {{orderToralPrice}}
</h3>